@media screen and (max-device-width: 1199px){
    .cursor{
        display: none;
    }
}
@media screen and (min-device-width: 1200px){
    .cursor {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 20;
        contain: layout style size;
        pointer-events: none;
        &.media-blend {
            z-index: 100;
            mix-blend-mode: difference;
            .cursor-big-circle{
                mix-blend-mode: difference;
            }
        }
        &:before{
            content: "";
            position: absolute;
            top: -24px;
            left: -24px;
            display: block;
            width: 60px;
            height: 60px;
            transform: scale(0.2);
            background: var(--body_color);
            border-radius: 50%;
            opacity: 1;
        }
        .cursor-big-circle{
            display: block;
            height: 200px;
            width: 200px;
            background: white;
            overflow: hidden;
            border-radius: 100%;
            transform: scale(0);
            margin: -95px 0 0 -95px;
            position: relative;
        }
        .cursor-about-hover{
            background: url(/img/home-1.jpg) no-repeat 50% 70%;
            width: 430px;
            height: 200px;
            overflow: hidden;
            border-radius: 20% / 50%;
            opacity: 0;
            margin: -200px 0 0 -200px;
            position: relative;
            z-index: 0;
        }
        .cursor-artist-hover{
            width: 150px;
            height: 150px;
            font-size: 1.25em;
            font-weight: 600;
            line-height: 100%;
            overflow: hidden;
            color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background: white;
            border-radius: 100%;
            margin: -180px 0 0 -70px;
            position: relative;
            opacity: 0;
        }
        .cursor-contact-hover{
            font-size: 3em;
            width: 120px;
            height: 120px;
            display: flex;
            justify-content: center;
            overflow: hidden;
            align-items: center;
            background-color: white;
            border-radius: 100%;
            margin: -130px 0 0 -60px;
            opacity: 0;
            position: relative;
        }
    }
}
