:root {
    // artist page
    --fs-mb-h: clamp(3em, 5vw + 1em, 4.5em);
    --fs-tab-h: clamp(4em, 5vw + 1em, 5.5em);
    --fs-lap-h: clamp(6em, 7vw + 1em, 8.5em);
    --fs-desk-h: clamp(6em, 7vw + 1em, 8.5em);

    --fs-mb-p: clamp(5em, 5vw + 1em, 6.5em);
    --fs-tab-p: clamp(3em, 4.75vw + 1em, 6em);
    --fs-lap-p: clamp(5em, 5vw + 1em, 6.5em);
    --fs-desk-p: clamp(5em, 5vw + 1em, 6.5em);
}
.artistpage-container{
    padding: 0 2.5%;
}
.artistpage-hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 75vh;
}
.artist-name-header{
    width: 70%;
    margin-right: -30%;
    z-index: 10;
}
.artist-name-header h2{
    font-size: 8em;
}
.artist-name-header p{
    width: 80%;
    font-size: 7em;
    line-height: 1.25em;
}
.artist-img-header img{
    width: 30vw;
    height: 70vh;
    object-fit: cover;
}
// for mobile device
@media screen and (max-device-width: 767px){
    .artist-name-header h2 {
        font-size: var(--fs-mb-h);
    }
    .artist-name-header p {
        font-size: var(--fs-mb-p);
    }
}
// fortablets and small laptop screens
@media screen and (min-device-width: 768px) and (max-device-width: 1199px){
    .artist-name-header h2 {
        font-size: var(--fs-tab-h);
    }
    .artist-name-header p {
        font-size: var(--fs-tab-p);
    }
}
// for large laptop screens and small desktop screens
@media screen and (min-device-width: 1200px) and (max-device-width: 1919px){
    .artist-name-header h2 {
        font-size: var(--fs-lap-h);
    }
    .artist-name-header p {
        font-size: var(--fs-lap-p);
    }
}
// for large desktop screens
@media screen and (min-device-width: 1920px){
    .artist-name-header h2 {
        font-size: var(--fs-desk-h);
    }
    .artist-name-header p {
        font-size: var(--fs-desk-p);
    }
}