.artistpage-container{
    padding: 0 2.5%;
}
.artistpage-hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 75vh;
}
.artist-name-header{
    width: 70%;
    margin-right: -30%;
    z-index: 10;
}
.artist-name-header h2{
    font-size: 8em;
}
.artist-name-header p{
    width: 80%;
    font-size: 7em;
    line-height: 1.25em;
}
.artist-img-header img{
    width: 30vw;
    height: 70vh;
    object-fit: cover;
}