.artist-info-container{
    height: 100vh;
    width: 100%;
    position: relative;
}
.artist-container {
    padding: 5% 5%;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    position: relative;
}
.artist-title {
    font-size: 3.25rem;
    font-weight: 700;
    padding: 0 10% 10%;
    text-align: center;
}
.swiper-container {
    max-width: 100%;
    height: auto;
}
.image-container{
    text-align: center;
}
.image-container img{
    width: 90%;
    height: 80vh;
    object-fit: cover;
}
.text-container {
    .artist-name h4{
        width: 100%;
        font-size: 5rem;
        font-weight: 700;
        line-height: 100%; 
        padding: 0;
        text-align: center;
        overflow: visible;
        z-index: 20;
        position: absolute;
        bottom: -10%;
        color: rgb(19, 19, 19);
        -webkit-text-stroke: .25px white; 
    }     
}
.text-container p{
    font-size: 1rem;
    font-weight: 700;
    line-height: 100%; 
    padding: 0 10%;
    text-align: center;
    overflow: visible;
    z-index: 10;
}

.text-container span {
    -webkit-text-stroke: 2px #000000;
}

@media screen and (min-device-width: 769px) and (max-device-width: 1024px){
    .artist-title {
        width: 20vw;
        text-align: left;
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        padding: 0;
        margin-left: 5%;
        margin-top: 5%;
    }
    .artist-title h3{
        font-size: 3.75vw;
        font-weight: 500;
    }
    .artist-title span{
        width: 40vw;
        font-size: 5vw;
        font-weight: 700;
        text-align: left;
    }
    .image-container img {
        width: 50%;
        height: 80vh;
    }
    .artist-name h4{
        width: 50% !important;
        font-size: 5rem;
        font-weight: 700;
        line-height: 100%; 
        padding: 0;
        text-align: left;
        overflow: visible;
        z-index: 10;
        position: absolute;
        top: 50%;
        bottom: 0;
        color: rgb(19, 19, 19);
        -webkit-text-stroke: .25px white;
    }
    .text-container p{
        width: 22%;
        font-size: 4rem;
        font-weight: 300;
        line-height: 100%; 
        padding: 0;
        text-align: left;
        overflow: visible;
        z-index: 10;
        top: 80%;
        position: absolute;
        
    }
}
@media screen and (min-device-width: 1025px){
    .artist-title {
        width: 20vw;
        text-align: left;
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        padding: 0;
        margin-left: 5%;
        margin-top: 5%;
    }
    .artist-title h3{
        font-size: 2.75vw;
        font-weight: 500;
        line-height: 7vh;
    }
    .artist-title span{
        width: 40vw;
        font-size: 3.75vw;
        font-weight: 700;
        text-align: left;
    }
    .image-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image-container img {
        width: 40%;
        height: 90vh;
    }
    .text-container{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 5%;
    }
    .text-container h4{
        width: 50% !important;
        font-size: 13vh !important;
        font-weight: 700;
        line-height: 100%; 
        padding: 0;
        text-align: left !important;
        overflow: visible;
        z-index: 10;
        color: rgb(19, 19, 19);
        -webkit-text-stroke: .25px white;
    }
    .text-container p{
        width: 25%;
        font-size: 2.75vh;
        font-weight: 300;
        line-height: 100%; 
        padding: 2% 0;
        text-align: left;
        overflow: visible;
        z-index: 10;
    }
}