.contact-hero-container{
    padding: 10% 5%;
    // overflow: hidden;
}
.marquee {
  width: 100%;
  margin: 0 auto;
  white-space: nowrap;
  // overflow: hidden;
  line-height: 8em;
}
.marquee h5 {
  color: transparent;
  -webkit-text-stroke: 1px white;
}
.marquee h5:nth-child(1){
  font-size: 10em;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  padding-left: -10%;
  animation: marquee-animation 80s linear infinite;
}
.marquee h5:last-child{
  padding-bottom: 8rem;
  font-size: 10em;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  padding-left: -10%;
  animation: marquee-animation-reverse 80s linear infinite;
}
@keyframes marquee-animation {
  0%{
    transform: translate(0,0);
  }
  100%{
    transform: translate(-100%,0);
  }
}
@keyframes marquee-animation-reverse {
  0%{
    transform: translate(-100%,0);
  }
  100%{
    transform: translate(0,0);
  }
}
.big-text-container {
    width: 100%;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    padding: 20px 5%;
}
.big-text-container a{
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
}
.big-text-container a {
    display: inline-block;
    position: relative;
    color: #5C5C5C;
  }
  
  .big-text-container a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 5px;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .big-text-container a:hover{
    color: #FFF;
  }
  .big-text-container a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .text-description{
    padding: 1rem 0;
  }
  .social-media-container {
    margin: 5% 0;
    font-size: 1.25rem;
  }
  .social-media-item{
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    width: 100%;
    padding: 1rem 0;
    cursor: pointer;
  }

@media only screen and (min-width: 992px){
  .contact-hero-container{
    padding: 10% 0%;
    overflow: hidden;
  }
  .contact-text-container{
    padding: 0 5%;
    display: flex;
  }
  .big-text-container {
    width: 50%;
    font-size: 10rem;
  }
  .big-text-container a{
    font-size: 10rem;
  }
  .description-container {
    width: 50%;
  }
}
  