.home-hero{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-header-container {
    padding: 0 5%;
}
.text-header{
    font-size: 3em;
    font-weight: 600;
    text-align: center;
}