.home-hero {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  max-height: 1080px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.home-hero-container {
  // height: 100vh;
}
.text-header-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // height: 100vh;
  padding: 0 10%;
  z-index: 2;
}
.text-header {
  font-weight: 600;
  line-height: 100%;
}
.text-header:nth-child(1) {
  text-align: left;
  width: fit-content;
}
.text-header:nth-child(2) {
  text-align: center !important;
}
.text-header:nth-child(3) {
  text-align: end;
}
.home-image-container {
  height: 100%;
}
.image-wrapper {
  position: absolute;
  background-color: #191818;
  top: 0;
  width: 0;
  height: 100%;
}
.home-image:nth-child(1) {
  position: absolute;
  top: 12%;
  right: 12%;
  object-fit: cover;
}
.home-image:nth-child(1) img {
  height: 25rem !important;
}
.home-image:nth-child(2) {
  position: absolute;
  top: 13%;
  left: 8%;
}
.home-image:nth-child(2) img {
  height: 16rem;
}
.home-image:nth-child(3) {
  display: inline;
  position: absolute;
  bottom: 8%;
  left: 10%;
}
.home-image:nth-child(3) img {
  height: 21.5rem;
}

@media screen and (max-device-width: 365px) {
  .text-header {
    font-size: 2.5em !important;
  }
}

//mobile devices
@media screen and (max-device-width: 767px) {
  .text-header-container {
    padding: 0 5%;
    z-index: 2;
  }
  .text-header {
    font-size: var(--fs-mb-h-h);
    text-align: center;
  }
  .home-image-container {
    margin: 0;
  }
  .home-image:nth-child(1) img {
    width: 45vw;
    height: 16rem !important;
    object-fit: cover;
  }
  .home-image:nth-child(1) {
    object-fit: cover;
    position: absolute;
    top: 10% !important;
    left: 5% !important;
  }

  .home-image:nth-child(2) {
    height: fit-content !important;
    position: absolute;
    bottom: 10% !important;
    right: 5% !important;
    top: auto;
    left: auto;
  }
  .home-image:nth-child(3) img {
    display: none !important;
  }
}
// for tablets and small laptop screens
@media screen and (min-device-width: 768px) and (max-device-width: 1199px) {
  .text-header {
    font-size: var(--fs-tab-h-h);
  }
}
// for large laptop screens and small desktop screens
@media screen and (min-device-width: 1200px) and (max-device-width: 1919px) {
  .text-header-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
    z-index: 2;
    height: 100vh;
  }
  .text-header {
    font-size: var(--fs-lap-h-h);
  }
  .home-image:nth-child(1) {
    position: absolute;
    top: 5%;
    right: 12%;
    object-fit: cover;
  }
  .home-image:nth-child(1) img {
    height: 20.5rem !important;
  }
  .home-image:nth-child(2) {
    position: absolute;
    top: 10%;
    left: 8%;
  }
  .home-image:nth-child(2) img {
    height: 12rem;
  }
  .home-image:nth-child(3) {
    display: inline;
    position: absolute;
    bottom: 8%;
    left: 10%;
  }
  .home-image:nth-child(3) img {
    height: 15.5rem;
  }
}
// for large desktop screens
@media screen and (min-device-width: 1920px) {
  .text-header {
    font-size: var(--fs-desk-h-h);
  }
}
