.contact-hero-container{
    padding: 10% 5%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
.marquee {
  width: 100%;
  white-space: nowrap;
  position: relative;
  h5 {
    font-size: 10vh;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 1px white;
  }
  h5:nth-child(1){
    text-transform: uppercase;
    display: inline-block;
    animation: marquee-animation 80s linear infinite;
  }
  h5:last-child{
    padding-bottom: 8rem;
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    left: 0;
    animation: marquee-animation-reverse 80s linear infinite;
  }
}

@keyframes marquee-animation {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100%);
  }
}
@keyframes marquee-animation-reverse {
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0);
  }
}
.big-text-container {
  width: 100%;
  text-align: center;
  padding: 20px 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  h5{
    font-size: 10vh;
    font-weight: 600;
  }
  a{
    font-size: 10vh;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    position: relative;
    color: #5C5C5C;
  }
}
.big-text-container a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 5px;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.big-text-container a:hover{
  color: #FFF;
}
.big-text-container a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.social-media-container {
  margin: 5% 0;
  font-size: 1.25rem;
}
.social-media-item{
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  width: 100%;
  padding: 1rem 0;
  cursor: pointer;
}

// for mobile device
@media screen and (max-device-width: 767px){
  .marquee {
    line-height: 4em;
    height: 20vh;
  }
  .text-description{
    padding: 1rem 0;
  }
  .social-media-item{
    text-align: center
  }
}
// fortablets and small laptop screens
@media screen and (min-device-width: 768px) and (max-device-width: 1199px){
  .marquee {
    line-height: 6em;
    height: 40vh;
  }
  .marquee h5 {
    font-size: 18vh;
    font-weight: 700;
  }
  .contact-text-container{
    display: flex;
  }
  .big-text-container {
    width: 50%;
    line-height: 6.25em;
  }
  .big-text-container h5,
  .big-text-container a{
    font-size: 10vw;
  }
  .description-container {
    width: 50%;
  }
  .social-media-item{
    text-align: center
  }
}
// for large laptop screens and small desktop screens
@media screen and (min-device-width: 1200px) and (max-device-width: 1919px){
  .marquee {
    line-height: 7em;
    height: 40vh;
  }
  .marquee h5 {
    font-size: 18vh;
    font-weight: 700;
  }
  .contact-text-container{
    display: flex;
  }
  .big-text-container {
    width: 50%;
  }
  .big-text-container h5,
  .big-text-container a{
    font-size: 13vh;
  }
  .description-container {
    width: 50%;
  }
  .social-media-item a{
    padding-left: 1em;
  }
}
// for large desktop screens
@media screen and (min-device-width: 1920px){
  .marquee {
    line-height: 7em;
    height: 40vh;
  }
  .marquee h5 {
    font-size: 18vh;
    font-weight: 700;
  }
  .contact-text-container{
    display: flex;
  }
  .big-text-container {
    width: 50%;
  }
  .big-text-container h5,
  .big-text-container a{
    font-size: 15vh;
  }
  .description-container {
    width: 50%;
  }
  .social-media-item a{
    padding-left: 1em;
  }
}
  