.contact-hero-container{
    padding: 10% 5%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
.marquee {
  width: 100%;
  white-space: nowrap;
  position: relative;
  // display: flex;
  h5 {
    font-size: var(--fs-mb-p-m);
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: 1px var(--body_color);
  }
  h5:nth-child(1){
    text-transform: uppercase;
    display: inline-block;
    animation: marquee-animation 80s linear infinite;
  }
  h5:last-child{
    padding-bottom: 8rem;
    text-transform: uppercase;
    display: inline-block;
    position: absolute;
    right: 0;
    animation: marquee-animation-reverse 80s linear infinite;
  }
}

@keyframes marquee-animation {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100%);
  }
}
@keyframes marquee-animation-reverse {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(100%);
  }
}
.contact-text-container{
  padding-top: 5vh;
}
.big-text-container {
  width: 100%;
  text-align: center;
  padding: 20px 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  h5{
    font-weight: 600;
  }
  a{
    font-weight: 600;
    text-align: center;
    display: inline-block;
    position: relative;
    color: #5C5C5C;
  }
}
.big-text-container a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 5px;
  left: 0;
  background-color: var(--body_color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.big-text-container a:hover{
  color: var(--body_color);
}
.big-text-container a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.social-media-container {
  margin: 5% 0;
  font-size: 1.25rem;
}
.social-media-item{
  border-top: 1px solid var(--body_color);
  border-bottom: 1px solid var(--body_color);
  width: 100%;
  padding: 1rem 0;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #ffffff;
  transition: 500ms ease-in-out;
}
.social-media-item:hover{
  box-shadow: inset 100vw 0 0 0 var(--body_color);
  color: var(--body_background);
  width: 100%;
  a {
    color: var(--body_background);
  }
}


// for mobile device
@media screen and (max-device-width: 767px){
  .marquee {
    line-height: 4em;
    height: 20vh;
  }
  .big-text-container h5{
    font-size: var(--fs-mb-p-h5);
  }
  .text-description{
    padding: 1rem 0;
  }
  .social-media-item{
    text-align: center
  }
  .button-container{
    padding: 1.5em;

    button{
      border-radius: 0;
      padding: 1em;
      color: #000;
      font-weight: 600;
      font-size: 1em;
      box-shadow: none;
      background-color: #FFF;
      border-color: transparent;
    }
  }
}
// fortablets and small laptop screens
@media screen and (min-device-width: 768px) and (max-device-width: 1199px){
  .marquee {
    line-height: 6em;
    height: 40vh;
  }
  .marquee h5 {
    font-size: var(--fs-tab-p-m);
    font-weight: 700;
  }
  .contact-text-container{
    display: flex;
  }
  .big-text-container {
    width: 50%;
    line-height: 6.25em;
  }
  .big-text-container h5{
    font-size: var(--fs-tab-p-h5);
  }
  .description-container {
    width: 50%;
  }
  .social-media-item{
    text-align: center
  }
}
// for large laptop screens and small desktop screens
@media screen and (min-device-width: 1200px) and (max-device-width: 1919px){
  .contact-hero-container{
    padding: 10% 5% 5% 5%;
  }
  .marquee {
    line-height: 7em;
    height: 40vh;
  }
  .marquee h5 {
    font-size: var(--fs-lap-p-m);
    font-weight: 700;
  }
  .contact-text-container{
    display: flex;
  }
  .big-text-container {
    width: 50%;
  }
  .big-text-container h5{
    font-size: var(--fs-lap-p-h5);
  }
  .description-container {
    width: 50%;
  }
  .social-media-item a{
    padding-left: 1em;
  }
}
// for large desktop screens
@media screen and (min-device-width: 1920px){
  .contact-hero-container{
    padding: 10% 5% 5% 5%;
  }
  .marquee {
    line-height: 7em;
    height: 40vh;
  }
  .marquee h5 {
    font-size: var(--fs-desk-p-m);
    font-weight: 700;
  }
  .contact-text-container{
    display: flex;
  }
  .big-text-container {
    width: 50%;
  }
  .big-text-container h5{
    font-size: var(--fs-desk-p-h5);
  }
  .description-container {
    width: 50%;
  }
  .social-media-item a{
    padding-left: 1em;
  }
}
  