.cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    contain: layout style size;
    pointer-events: none;
    &:before{
        content: "";
        position: absolute;
        top: -24px;
        left: -24px;
        display: block;
        width: 48px;
        height: 48px;
        transform: scale(0.2);
        background: white;
        border-radius: 50%;
    }
}