@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial;
}
:root {
    --body_background: #FFF;
    --body_color: #000;

    //homepage
    --fs-mb-h-h: clamp(1.75em, 6vw + 1em, 6em);
    --fs-tab-h-h: clamp(5em, 7vw + 1em, 8em);
    --fs-lap-h-h: clamp(6em, 8vw + 1em, 12em);
    --fs-desk-h-h: clamp(10.5em, 7vw + 1em, 15em);

    --fs-mb-p-h: clamp(2em, 4vw + 1em, 4em);
    --fs-tab-p-h: clamp(3.25em, 4.75vw + 1em, 5.5em);
    --fs-lap-p-h: clamp(5em, 5vw + 1em, 7em);
    --fs-desk-p-h: clamp(7em, 5.5vw + 1em, 8em);

    --fs-mb-p-a: clamp(2em, 4vw + 1em, 4em);
    --fs-tab-p-a: clamp(3.25em, 4.75vw + 1em, 5.5em);
    --fs-lap-p-a: clamp(5em, 5vw + 1em, 6.5em);
    --fs-desk-p-a: clamp(5em, 5vw + 1em, 6.5em);

    // artist page
    --fs-mb-h: clamp(2em, 7vw + 1em, 5em);
    --fs-tab-h: clamp(4em, 6vw + 1em, 6em);
    --fs-lap-h: clamp(6em, 7vw + 1em, 8.5em);
    --fs-desk-h: clamp(6em, 7vw + 1em, 8.5em);

    --fs-mb-p: clamp(2em, 4vw + 1em, 4em);
    --fs-tab-p: clamp(3.25em, 4.75vw + 1em, 5.5em);
    --fs-lap-p: clamp(5em, 5vw + 1em, 6.5em);
    --fs-desk-p: clamp(5em, 5vw + 1em, 6.5em);

}
[data-theme="dark"] {
    --body_background: #191818;
    --body_color: #FFF;
}
body {
    background-color: var(--body_background);
    color: var(--body_color);
}

ul {
    list-style: none;
}

a, span{
    text-decoration: none;
    color: var(--body_color);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
// for mobile device
@media screen and (max-device-width: 767px){}
// fortablets and small laptop screens
@media screen and (min-device-width: 768px) and (max-device-width: 1199px){}
// for large laptop screens and small desktop screens
@media screen and (min-device-width: 1200px) and (max-device-width: 1919px){}
// for large desktop screens
@media screen and (min-device-width: 1920px){}
