@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial;
    color: #FFF;
}
body {
    background-color: #191818;
    color: #FFF;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFF;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
// for mobile device
@media screen and (max-device-width: 767px){}
// fortablets and small laptop screens
@media screen and (min-device-width: 768px) and (max-device-width: 1199px){}
// for large laptop screens and small desktop screens
@media screen and (min-device-width: 1200px) and (max-device-width: 1919px){}
// for large desktop screens
@media screen and (min-device-width: 1920px){}
